@media (min-width: 1025px) {
    .h-custom {
        height: 100vh !important;
    }
}

.cart-product-img {
    /* border: 2px solid red; */
    height: 150px !important;
    width: 150px !important;

}



.title-page {
    color: #3985DB;
}